:root{
  --light-sec-color: #2a7e3a;
  --dark-sec-color: #11431b;
  --white: white;
  --bg : #f2fff4;
  
}
body{
box-sizing: border-box;  
margin: 0px; 
padding: 0px;
scroll-behavior: smooth;
overflow-x: hidden;
font-family: Arial, Helvetica, sans-serif
}
/* --------------------------------Landing Page Section--------------------------- */


/* ------------------------------------------Navbar section------------------------------------ */
.navSearch{
  border-radius: 20px;
  display: inline-block;
  width: 3.5rem;
  height: 0.2rem;
  outline: none;
  border-color: gray;
  text-align: center;
  color: gray;

}
.iconStyle{
 display: flex;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.navbar ul li{
 list-style-type: none;
 display: inline-block;
 margin: 0 32px;
}
.navbar ul li a{
 text-decoration: none;
 /* text-transform: uppercase; */
 color: var(--dark-sec-color);
}
.navbar ul li a:hover{
 text-decoration:underline
}
.icon{
  display: none;
}

/* ----------------------------------hero section----------------------------- */
.hero-sec{
  background-color: var(--bg);  
  height: 90vh;
  margin: 1rem 0 4rem 0;
}
.hero-sec .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center; 
}
.col1{
  min-width: 320px;
  margin-top: 24px;
}
.col1 h1, .donors h1{
  color: var(--light-sec-color);
  font-weight: 800;
  font-size: 2.4rem;
}
.hero-sec p, .donors p{
  font-size: 1.4rem;
  text-transform: capitalize;
}
.cta-text{
  text-align: center;
  margin: 4rem;
  text-transform: uppercase;

}
 .cta-text span{
  color: var(--light-sec-color);

} 
.button{
  background-color: var(--light-sec-color);
  color: var(--white);
  margin: 8px;
  padding: 20px 58px;
  border-radius: 16px;
  font-size: 20px;
  text-transform: capitalize
}

.button:hover{
  background-color: var(--white);
  color: var(--light-sec-color);
  border: 2px solid;
  transition: 0.2s ease-in-out;
}

/* ----------------------device section------------------------------------- */
.dev-section{
  margin: 6.4rem 1rem;
  }
  .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; 
}
.dev-section .row{  
  border-left: 4px solid var(--light-sec-color); 
}
h2{
  text-transform: uppercase;
}

/* ---------------mechanism section-------------------------------- */
.mech-section{
  text-align: center;
  background-color: var(--bg);
  padding: 3rem;

}
.mech-section .icons{
 background-color: var(--light-sec-color);
 color: #ffffff;
 width: 60%;
 border-radius: 24px;
 margin: 0 auto;
}
.mech-section .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.col{
  flex-basis: 17%;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 8px;
  padding: 16px;
  /* border: 1px solid var(--dark-sec-color); */
}
.icons{
  display: flex ;
  align-items: center;
  justify-content: center;
}


/* -----------------------------------------Apply as a recipient here---------------------------------- */
.apply{
  margin: 6rem 0;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./pages/images/img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh ;
  text-align: center;
  color: #fff;
}
.apply-text{
  position: absolute;
  left: 32%;
  margin-top: 6rem;
 }
 .apply-text p{
  font-size: 1.8rem;
 }
 .apply-text h3{
  font-size: 2.8rem;
 }
.apply-text a{
  background-color: var(--dark-sec-color);
  color: #FDFDFD;
  padding: 8px;
  
}
/* -----------------Subscribe Section---------------------------------------------------- */
.subscribe{
  margin: 0 auto;
  width: 48%;
  text-align: center;
}
.subscribe form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe input{
  padding: 16px 64px;
}
.subscribe input[placeholder]{
  font-size: 16px;
  line-height: 3px;
}
.subscribe button{
  padding: 16px 48px;
  background-color: var(--light-sec-color);
  color: var(--white);
  border-radius: 4px;
  font-size: 16px;
}


/* ----------------------Footer section-------------------------------------------- */
.footer{
  background-color: var(--dark-sec-color);    
  color: #fff;
  margin-top: 4rem;
  padding: 4px;
}
.show{
  display: none;
}
.footer-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer ul li{
  list-style: none;
}
.footer .copywright{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px 16px 40px;

}

/* ---------------------------------------------------Donate page----------------------------------------- */
.donors{
  padding: 3rem 0;
  background-color: var(--bg);
  margin-top: 1rem;
}
.donor{
   z-index: 1;
}
.donor::after{
content: '';
position: absolute;
width: 30%;
padding: 13px;
height: 60%;
right: 5%;
margin-top: 2rem;
background-color: var(--light-sec-color);
z-index: -1;
}
.donation{
  text-align: center;
  width: 88%;
  margin: 4rem auto;
}
.donation-form{
  text-align: left;
  display: grid;
  gap: 16px;
  margin: 2rem;
}
input{
  padding: 16px;
  border-radius: 8px;
}
textarea{
  padding: 48px
}

/*---------------------------------------Receiver page---------------------------------------------*/
.ReceiverBanner{
  position: relative;
  margin: 0 auto; 
}
.ReceiveForm{
  max-width: 1000px;
  margin: 0 auto;
}
.Receiver-hero-sec{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) ), url('./pages/images/img4.png');
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  height: 80vh;
  width: 96%;
}
.ReceiverBannerText{
  color: var(--white);
  position: absolute;
  top: 3%;
  left: 28%;
  text-align: center;
  font-size: 2.2rem ;
}
.ReceiverBannerSpan{
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.ReceiveInput, .ReceiveRadio{
display: flex;
flex-direction: column;
margin-top: 2rem
}
.radiobtn{
  margin-top: 6rem;
}
.ReceiveInput label, textarea{
  margin-bottom: 1.5rem;
}
.ReceiveInput input, textarea{
  border-radius: 0.6rem;
  padding: 1.5rem;
  outline: none;
}
.ReceiveRadio{
  margin-top: 4rem;
}
.ReceiveRadio textarea{
margin-bottom: 6rem;
}
.receiverCta{
  position: relative;
  height: 270px;
}
.receiverCta p{
  font-size: larger;
  color:  rgb(87, 81, 81);
}
.receiverCta span{
  color: red;
}
.receiveCta{
  display: flex;
  gap: 0.4rem;
}
.Receivebtn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.receiverCta button{
  display: inline-block;
  text-align: center;
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--light-sec-color);
  color: var(--white);
  width: 10rem;
  height: 2rem;
}
.receiverCta button:hover{
  background-color: var(--white);
  transition: 0.5s ease-in-out;
  color: black;
}
/* ----------------------------------------------------------------About page---------------------------------------------- */
.about-hero{
  height: 80vh;
  background: url(./pages/images/about-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FDFDFD;
  font-size: 1.7rem;
  margin-bottom: 4.8rem;
}
.about-text{
  margin-top: 6.4rem;
}
.about-section{
  text-align: center;
}
.about-row{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 1rem;
}
.abt-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  margin: 1.8rem;

}
.about-section hr{
  padding: 2px;
  width: 50%;
  margin-left: 4px;
  background-color: var(--light-sec-color);
}

/* -------------------login && signup---------------------------------------------------------- */
.sign-login{
  text-align: center;
}
.signup-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-col{
  flex-basis: 50%;
  background-color: var()
}
.loginpg, .signupp{
  background: linear-gradient( to right, #f2fff4  0 50%, #fdfdfd 51% 100%)
}

.signup-col2{
  flex-basis: 50%;
}
.login-form{
  text-align: left;
  gap: 8px;
  width: 90%;
  margin: 0 1.2rem;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form input{
  width: 90%;
   padding: 16px;
  border-radius: 8px;
}
.login-form input[placeholder]{
  font-size: 1rem;
}
.label{
  margin: 0 8px;
  font-weight: 600;
}