@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --light-sec-color: #2a7e3a;
  --dark-sec-color: #11431b;
  --white: white;
  --bg : #f2fff4;
  --text: #4E4E4E;  
}
body{
box-sizing: border-box;  
margin: 0px; 
padding: 0px;
scroll-behavior: smooth;
overflow-x: hidden;
font-family: "Poppins", sans-serif;;
}
img:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
#error, #error2, #error3, .required{
  color: #FF0000;
}
/* --------------------------------Landing Page Section----------------------------------------- */


/* ------------------------------------------Navbar section-------------------------------- */
.navSearch{
  border-radius: 20px;
  display: inline-block;
  width: 3.5rem;
  height: 0.2rem;
  outline: none;
  border-color: gray;
  text-align: center;
  color: gray;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.navbar ul li{
 list-style-type: none;
 display: inline-block;
 margin: 0 32px;
}
.navbar ul li a{
 text-decoration: none;
 color: var(--dark-sec-color);
}
.navbar ul li a:hover{
 text-decoration:underline
}
.icon{
  display: none;
}

/* ----------------------------------hero section-------------------------------------- */
.hero-sec{
  /* background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./pages/images/heroimg5.png');  */
  background: linear-gradient( to right, #fdfdfd  0 26%, rgba(0, 0, 0, 0) ), url('./pages/images/heroimg2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 1rem 0 4rem 0;
}
.hero-sec .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
}
.col1{
  margin-top: 1rem;
  position: absolute;
  color: #FDFDFD;
  left: 4%;
  bottom: 8%;
}
.col2{
  margin-top: 1rem;
  margin-left: 2rem;
}
.col1 h1, .donors h2{
  color: var(--light-sec-color);
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.hero-sec p, .donors p{
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--text);
  margin: 24px 8px;
}
#text::after{ 
  content: "Global Empowerment";
  display: inline-block;
  font-weight: 600; 
  width: 440px;
  animation: animate 5s ease 1s infinite;
  color: var(--light-sec-color);  
} 
@keyframes animate { 
  0% { 
      content: "Global Empowerment";
      transform: translateY(0);
      transform: translateY(-8px);     
      } 
  50% { 
      content: "Better Digital Literacy"; 
      transform: translateY(-8px); 
      transform: translateY(0px); 
  } 
  100% { 
      content: "Increased Connectivity"; 
      transform: translateY(-8px);
      transform: translateY(0);
   } 
} 
.cta-text{
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
}
.button{
  background-color: var(--light-sec-color);
  color:#FDFDFD;
  margin: 8px;
  padding: 20px 58px;
  border-radius: 16px;
  font-size: 20px;
  text-transform: capitalize
}

.button:hover{
  background-color: #FDFDFD;
  border: 2px solid var(--light-sec-color);
  color: #000;
  transition: 0.2s ease-in-out;
}
 
/* -------------------------------------------------device section------------------------------------- */
.dev-section{
  margin: 6rem 1rem;
  }
  .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; 
}
.dev-section .row{  
  border-left: 4px solid var(--light-sec-color); 
}
h2{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

/* -----------------------------------------------------mechanism section-------------------------------- */
.mech-section{
  text-align: center;
  /* background-color: var(--bg); */
  padding: 3rem;

}
.mech-section .icons{
 background-color: var(--light-sec-color);
 color: #ffffff;
 width: 60%;
 border-radius: 24px;
 margin: 0 auto;
}
.mech-section .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.col{
  flex-basis: 18%;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 4px;
  padding: 16px;
}
.icons{
  display: flex ;
  align-items: center;
  justify-content: center;
}


/* -----------------------------------------Apply as a recipient here---------------------------------- */
.apply{
  margin: 6rem 4px;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./pages/images/img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh ;
  text-align: center;
  color: #fff;
}
.apply-text{
  position: absolute;
  left: 32%;
  margin-top: 6rem;
 }
 .apply-text p{
  font-size: 1.8rem;
 }
 .apply-text h3{
  font-size: 2.8rem;
 }
.apply-text a{
  background-color: var(--dark-sec-color);
  color: #FDFDFD;
  padding: 8px;
  
}
/* -----------------Subscribe Section---------------------------------------------------- */
.subscribe{
  margin: 0 auto;
  width: 48%;
  text-align: center;
}
.sub{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe input{
  padding: 16px 64px;
  border-radius: 0px;
}
.subscribe input[placeholder]{
  font-size: 16px;
  line-height: 3px;
}
.subscribe button{
  padding: 16px 48px;
  background-color: var(--light-sec-color);
  color: var(--white);
  border-radius: 4px;
  font-size: 16px;
}
.subscribe button:hover{
  background-color: var(--white);
  color: var(--light-sec-color);
  border: 2px solid;
  transition: 0.2s ease-in-out;
}


/* ----------------------Footer section-------------------------------------------- */
.footer{
  background-color: var(--dark-sec-color);    
  color: #fff;
  margin-top: 4rem;
  padding: 4px;
}
.footer-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer ul li{
  list-style: none;
}
.footer .copywright{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px 16px 40px;
}

/* ---------------------------------------------------Donate page----------------------------------------- */
.donors{
  padding: 3rem 0;
  background-color: var(--bg);
   margin-top: 1rem;
  }
.donate-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.donor{
   z-index: 1;
   margin: 0 auto;
}
.donor::after{
content: '';
position: absolute;
width: 30%;
padding: 13px;
height: 60%;
right: 5%;
margin-top: 2rem;
background-color: var(--light-sec-color);
z-index: -1;
}
.donation{
  text-align: center;
  width: 88%;
  margin: 8rem auto;
}
.donor-col{
  width: 540px;
  margin-left : 3rem;  
}
.donation-form{
  text-align: left;
  display: grid;
  gap: 16px;
  margin: 0;
}
.popup{
  display: none;
  width: 80%;
  height: 50%;
  position: fixed;
  bottom: 0;
  top: 14%;
  z-index: 32;
  border: 3px solid #f1f1f1;  
  background-color: #FDFDFD;
  padding: 4rem;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  /* transform: scale(1.02); */
  /* transition: 0.5s ease-in-out; */
  animation: scaleUp 1.5s ease-in-out;
 }
 @keyframes scaleUp {
   0%{
    transform: scale(0);
   }
   50%{
    transform: scale(1.04);
   }
   100%{
    transform: scale(1.1);
   }
 }

.popup-container{
  max-width: 1400px;
  max-height: 1600px;
  padding: 2rem;
  background: url('./pages/images/ellipse.png');
  background-repeat: repeat-y;
  background-position: left
}
.popup-container::after{
  content: '';
  position: absolute;
  padding: 7rem;
  right: 0;
  top: 0;
  height: 16%;
  background-color: #FDFDFD;
  background: url('./pages/images/ellipse.png');
  background-repeat: repeat-y;
  background-position: left;
   margin: 4rem 2rem;
}
.dim-pg{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.btn{
  margin: 16px;
 font-size: 1.1rem;
 background-color: var(--light-sec-color);
 padding: 8px 16px;
color: #FDFDFD;
}
.btn-close{
position: absolute;
top: 0;
right: 0;
padding: 8px 16px;
margin: 8px;
background-color: var(--light-sec-color);
color: #FDFDFD;
border-radius: 2px;
}
.btn-close:hover{
  background-color: var(--bg);
  color: var(--light-sec-color);
}
input{
  padding: 1.6rem;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 1.2rem;
}
.textarea{
  padding-bottom: 6rem;
  font-size: 1.3rem;
}
input[type= 'file']{
background-color: var(--bg);
width: 60%;
}
input[type= 'file']::file-selector-button{
padding: 10px;
background-color: var(--light-sec-color);
color: #FDFDFD;
 border-radius: 8px;
}

/* ------------------------------------------Gadget listing page------------------------------- */
.gadgets-sec{
  margin: 3rem 0;
}
/* .spec-span{ */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  */
    /* width: 300px;
    display: block;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; */
/* } */
.card{
flex-basis: 24%;
padding:  1.4rem 1rem;
margin: 8px;
background-color: var(--bg);
max-width: 340px;
box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
margin: 1.4rem;
}
.gadgets-row{
  display: flex;
  justify-content: center;
  flex-flow: row wrap
}
.filter-btns{
  margin: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.filter-btns input{
padding: 16px 3rem;
border-radius: 2px;
background-image: url('./pages/images/search-icon.png');
background-position: 10px 14px; 
background-repeat: no-repeat;
background-size: 24px;
}
.filter-btns input[placeholder]{
  font-size: 1rem;
}
.search-btn{
padding: 16px 40px;
font-size: 1rem;
background-color: var(--light-sec-color);
color: #FDFDFD;
background-color: var(--light-sec-color);
}
.filter-btn{
  margin: 8px 2rem;
  padding: 14px 40px;
  background-color: var(--light-sec-color);
  color: #fdfdfd;
  border: 2px solid var(--light-sec-color);
  border-radius: 1px;
  font-size: 1rem;  
}
.filter-btn:hover{
  background-color: var(--light-sec-color);
  color: #FDFDFD;
}
.request-button{
  padding: 1rem 4rem;
  width: 100%;
  background-color: var(--light-sec-color);
  color: #FDFDFD;
  font-size: 1rem;
  
}

/*-------------------------------------------------------Receiver page---------------------------------------------*/
.ReceiverBanner{
  position: relative;
  margin: 0 auto; 
}
.ReceiveForm{
  max-width: 1000px;
  margin: 0 auto;
}
.Receiver-hero-sec{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) ), url('./pages/images/img4.png');
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  height: 80vh;
  width: 100%;
}
.ReceiverBannerText h2{
  font-size: 4rem;
}
.ReceiverBannerText p{
  font-size: 36px;
}
.ReceiverBannerText{
  color: var(--white);
  position: absolute;
  top: 3%;
  left: 28%;
  text-align: center;
}
.ReceiverBannerSpan{
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.ReceiveInput, .ReceiveRadio{
display: flex;
flex-direction: column;
margin-top: 2rem;
}
.radiobtn{
  margin-top: 6rem;
}
.ReceiveInput label, textarea{
  margin-bottom: 1.5rem;
}
.ReceiveInput input, textarea{
  border-radius: 0.6rem;
  padding: 1.5rem;
  outline: none;
}
.ReceiveRadio{
  margin-top: 4rem;
}
.ReceiveRadio textarea{
margin-bottom: 6rem;
}
.receiverCta{
  position: relative;
  height: 270px ;
  background: url('./pages/images/ellipse.png');
  background-repeat: space;
}
.receiverCta p{
  /* font-size: larger; */
  color:  rgb(87, 81, 81);
}
.receiverCta span{
  color: red;
}
.receiveCta{
  display: flex;
  gap: 0.4rem;
}
.receiverCta button{
  margin: 1.5rem;
  padding: 2rem 12rem;
  border-radius: 0.8rem;
  background-color: var(--light-sec-color);
  color: var(--white);
}
.receiverCta button:hover{
  background-color: var(--white);
  transition: 0.5s ease-in-out;
  color: #000;
}

/* ----------------------------------------------------------------About page---------------------------------------------- */
.about-hero{
  height: 80vh;
  background:  linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(./pages/images/about-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FDFDFD;
  font-size: 1.7rem;
  margin-bottom: 2;
}
.about-text{
  margin-top: 4.8rem;
}
.about-section{
  text-align: center;
}
.about-section a{
  text-decoration: none;
  color: #FDFDFD
}
.about-row{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 0;
  flex-flow: row wrap;
}
.abt-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  margin: 1.8rem;
  flex-flow: row wrap;


}
.about-section hr{
  padding: 2px;
  width: 50%;
  margin-left: 4px;
  background-color: var(--light-sec-color);
}

/* -------------------login && signup---------------------------------------------------------- */
.sign-login{
  text-align: center;
}
.signup-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.signup-col{
  flex-basis: 50%;
}
.loginpg, .signupp{
  background: linear-gradient( to right, #f2fff4  0 50%, #fdfdfd 51% 100%)
}

.signup-col2{
  flex-basis: 50%;
}
.login-form{
  text-align: left;
  gap: 8px;
  width: 90%;
  margin: 0 1.2rem;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form input{
 width: 90%;
padding: 16px;
border-radius: 8px;
}
.login-form input[placeholder]{
font-size: 1rem;
}
.label{
margin: 0 8px;
font-weight: 600;
}
.google-button{
  padding: 8px 16px;
  background-color: var(--light-sec-color);
  color: #FDFDFD;
  border-radius: 12px;
}
/* ----------------------------reset password-------------------- */
.reset-form{
  width: 70%;
  padding: 4rem;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1)
}

/* -----------------------------Contact Us page --------------------------------------- */
.contact-hero{
  height: 80vh;
  background: url(./pages/images/unsplash_UcZcsHSp8o4\ \(1\).png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.contact-hero p{
position: absolute;
text-align: center;
right: 0px;
bottom: 0px;
padding: 0 3rem;
color: var(--white);
font-weight: 800;
font-size: 4rem;
}
.contact-body h4{
text-align: center;
color: rgb(66, 57, 57);
font-size: 2.3rem;
word-spacing: 2px;
margin-top: 2rem;
}
.contact-body p{
  color: rgb(66, 57, 57);
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-spacing{
  margin: 0 7rem;
}
.contact-form h5{
  color:rgb(66, 57, 57) ;
  font-size: 1.8rem;
}
.contact-form-horizon{
  background-color: var(--dark-sec-color);
  width: 100%;
  height: 0.4rem;
}
.contactform{
width: 50%;
}
.contact-form p{
  color:rgb(66, 57, 57) ;
  font-size: 1.2rem ;
}
.ContactInput input{
  width: 100%;
  padding: 27px;
  outline: none;
  border-radius: 12px;
  margin: 1.8rem 0;
}
.ContactInput label, .contact-textarea label{
  font-weight: 600;
  font-size: 1.2rem;
  color:rgb(66, 57, 57) ;

}
.contact-img {
  margin-top: 6rem;
}
.contact-textarea textarea{
  width: 100%;
  margin: 1.8rem 0;

}
.contactformsec{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

/* -----------------------------------------Mobile responsiveness----------------------------------- */

  /* ------------------------------Media queries for smallest screens---------------------------- */
         @media screen and (max-width: 320px) {
          .navbar{
            justify-content: space-between;
          }

          .nav-list{
              display: none;
              position: absolute;           
              top: 12%;   
              width: 80%;
              background-color: var(--light-sec-color);
              /* overflow: hidden; */
              transition: all 0.2s ease-in;
              z-index: 1;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              margin: 8px 4px;
              padding: 8px 8px 8px 48px;
            
           }  

           .nav-list.active{
              display: block;
           }

          .navbar ul li{
             display: block;
             margin: 16px 0;
             padding: 4px;
          }
          .navbar ul li a{
            color: #FDFDFD;
          }
          .icon{
              display: block;
          }
          .navSearch{
            display: block;
            width: 2.4rem;
          }

          /* -----------------------------------------hero section----------------------------------------------------- */
          .hero-sec{
            background: linear-gradient( to right, #f2fff4  100%  0%, rgba(0, 0, 0, 0.2) ), url('./pages/images/heroimg2.jpg');
            background-position: center;
            background-size: cover;
            height: 100vh;
            margin: 0rem 0 4rem 0;
          }
          .hero-sec .row{
            justify-content: center;
            text-align: center;
          }
          .heroimg{
            width: 300px;
          }
          .col1 h1, .donors h1{
            font-size: 1.6rem;
          }
          .cta-text{
            margin: 2rem;
          }
          .col1{
            margin-top: 1rem;
            position: absolute;
            color: #FDFDFD;
            left: 4%;
            bottom: 5%;
          }      
          /* ------------------device section------------------- */
          .dev-section{
            margin: 5.6rem 0;
            /* text-align: center; */
          }
          .device-img{
            width: 300px;
          }

          /* --------------------mech-section------------------ */
          .col{
            flex-basis: 100%;
            min-width: 240px
          }
          /* -----------------------apply as a recipient------------- */
          .apply-text{
            left: 0;
            margin: 2rem;
          }
          .apply-text p{
            font-size: 1.4rem;
           }
           .apply-text h3{
            font-size: 2.4rem;
           }
           .apply-text a{
            background-color: var(--dark-sec-color);
            color: #FDFDFD;
            padding: 4px;
           }
           /* ------------------------subscribe section-------------- */
           .subscribe{
            width: 80%;
          }
          .sub{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .subscribe input{
            padding: 16px 48px;
          }
          .subscribe input[placeholder]{
            font-size: 16px;
            line-height: 3px;
          }
          .subscribe button{
            padding: 16px 48px;
            background-color: var(--light-sec-color);
            color: var(--white);
            border-radius: 4px;
            font-size: 16px;
            margin: 4px;
          }

          /* -------------------------------------footer section------------------- */
          .footer-text{
            display: block;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }          

          .footer .copywright{
            flex-direction: column;
            justify-content: center;
            margin: 16px;          
          }
         /* ---------------about page----------------------- */
         .about-hero{
          font-size: 1.4rem;
        }
         .abt-row{
          justify-content: center;
          text-align: center;
        }
        .about-row{
          flex-flow: column-reverse;
          justify-content: center;
          text-align: center;
        }
        .about-section img{
          width: 300px;
        }
        .about-section hr{
          margin-left: 4rem;
        } 
        .about-text{
          margin: 4px;
          margin-top: 3rem;
        }
        .about-section{
          margin: 8px;
        }     
        /*------- ----------------------------Donate--------------------- */
                .donor::after{
                  display: none;
                }
                .donor-col{
                  margin: 2px;
                }
                .donors{
                  text-align: center;
                }
                .donor{
                  margin-top: 1.2rem;
                  z-index: 0;
                }
                .donor img{
                  width: 300px;
                }
                 .donors h2{
                  font-size: 1.6rem;
                }
                .donors p{
                  font-size: 1.2rem;
                }
                .donation-form{
                  margin: 2rem 8px;
                }
                .donation{
                  width: 94%;
                }
                .popup{
                  display: none;
                  width: 90%;
                  height: 90%;
                  position: fixed;
                  bottom: 0;
                  top: 3%;
                  z-index: 32;
                  border: 3px solid #f1f1f1;  
                  background-color: #FDFDFD;
                  padding: 1rem;
                  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
                  transform: scale(1.02);
                  transition: 0.5s ease-in-out;
                 }
                
                .popup-container{
                  padding:  0 1rem;
                  margin: 32px 0;
                  background: url('./pages/images/ellipse.png');
                  /* background-repeat: no-repeat; */
                  background-position: center;
                  background-size: contain;
                }
                .popup-container::after{
                  display: none;
                  content: '';
                  position: absolute;
                  padding: 7rem 2rem;
                  right: 0;
                  top: 0;
                  height: 20%;
                  background-color: #FDFDFD;
                  background: url('./pages/images/ellipse.png');
                  background-repeat: repeat-y;
                  background-position: left;
                   margin: 8px;
                }

                .btn{
                 margin: 8px;
                 font-size: 1.1rem;
                 padding: 8px 32px;
                color: #FDFDFD;                                
                }
                .btn-close{
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px 16px;
                margin: 4px;
                background-color: var(--light-sec-color);
                color: #FDFDFD;
                border-radius: 2px;
                }
                /* -----------------------Gadget listing page----------------------------------- */
                .gadgets-sec{
                  margin: 3rem 0;
                }
                .card{
                padding:  1.4rem 8px;
                margin: 8px;
                background-color: var(--bg);
                max-width: 280px;
                box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
                margin: 1.4rem;
                }
                .card img{
                  width: 280px;
                }
                .gadgets-row{
                  display: flex;
                  justify-content: center;
                  flex-flow: row wrap
                }
                .filter-btns{
                  margin: 8px;
                  display: block;
                }
                .filter-btn{
                  padding: 1rem 3rem;
                  margin-left: 0;
                }
                
                /* --------------------------------receiver section------------------- */
              .ReceiverBannerText{
                left: 0;
                font-size: 1.8rem;
                }
                .Receiver-hero-sec{
                  width: 100%;
                }
                .ReceiveForm{
                  max-width: 340px;
                }
                .ReceiveInput input, textarea{
                  padding: 1.3rem;
                }
                .Receivebtn{
                 transform: translate(-50%, 0%);
                }
                .receiverCta button{
                  margin: 2.4rem;
                  padding: 1.6rem 8rem;
                  border-radius: 0.8rem;
                }
/* -------------------------Contact page------------------------- */
        .contact-hero{
          margin-top: 1rem;
         }
         .contact-hero p{
          font-size: 3rem;
          bottom: 20%;
         }
          .contact-form{
            width: 96%;
            text-align: center
          }
          .contactform .button{
            padding: 1.6rem 7.2rem;
          }
          .contact-spacing{
            margin: 0;
          }
          .contact-body h4{
            font-size: 2rem;
          }
          .contact-form-horizon{
            width: 88%;
            margin: 1rem;
          }
          .contactformsec{
            flex-direction: column;
            margin: 8px;
          }
          .contactformsec img{
            width: 300px;
            text-align: center;
          }
          .ContactInput input{
            padding: 1.6rem 4.4rem;
          }
          .contact-img {
            margin-top: 0;
          }
          .contact-textarea textarea{
            padding: 1.6rem 4.6rem;
          }
/* -------------------------------signup and login pages------------------------- */
        .sign-login{
          margin: 1rem 0;
        }
        .signup-row{
          flex-direction: column;
        }
        .login-form{
          margin: 0;
        }

      }

    /* ----------------------------------Media queries for next screens---------------------------- */
      @media screen and (min-width: 321px) and (max-width: 396px) {
        .navbar{
          justify-content: space-between;
        }
        .nav-list{
            display: none;
            position: absolute;           
            top: 10%;   
            width: 80%;
            background-color: var(--light-sec-color);
            /* overflow: hidden; */
            transition: all 0.2s ease-in;
            z-index: 1;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin: 4px;
            padding: 8px 8px 8px 60px;          
         }  
           .nav-list.active{
            display: block;
         }
           .navbar ul li{
           display: block;
           margin: 16px 0;
           padding: 4px;
        }
           .navbar ul li a{
          color: #FDFDFD;
        }
           .icon{
            display: block;
        }
           .navSearch{
          display: block;
          width: 2.4rem;
        }

/* --------------------------------------hero section--------------------------------------------- */
.hero-sec{
  background: linear-gradient( to right, #f2fff4 100% 0%, rgba(0, 0, 0, 0.2) ), url('./pages/images/heroimg2.jpg');
  background-position: center;
  background-size: cover;
  margin: 0rem 0 4rem 0;
}
.hero-sec .row{
  justify-content: center;
  text-align: center;
}
.heroimg{
  width: 300px;
}
.col1 h1, .donors h1{
  font-size: 2rem;  
}
.col1{
  margin-top: 2rem;
  position: absolute;
  color: #FDFDFD;
  left: 0;
  bottom: 18%;
}
   .heroimg{
          width: 340px;
        }
    .col1 h1, .donors h1{
          font-size: 1.6rem;
        }
        .cta-text{
          text-align: center;
          margin: 1.6rem;
          text-transform: uppercase;
        }
        #text::after{
        width: 320px;
        }
/* --------------------------------------device section--------------------------------------------------------- */
        .dev-section{
          margin: 5.6rem 1rem;
          text-align: center;
        }
        .device-img{
          width: 340px;
          margin: 1.2rem 0;
        }
        .dev-section .row{  
          border-left: 0px solid var(--light-sec-color); 
        }
        .dev{
          text-align: left;
        }
/* --------------------------mech-section---------------------------------- */
        .col{
          flex-basis: 100%;
          min-width: 300px
        }
/* -------------------------------------apply as a recipient------------- */
        .apply-text{
          left: 0;
          margin: 4rem;
        }
        .apply-text p{
          font-size: 1.4rem;
         }
         .apply-text h3{
          font-size: 2.4rem;
         }
         .apply-text a{
          background-color: var(--dark-sec-color);
          color: #FDFDFD;
          padding: 4px;
         }
/* ------------------------subscribe section------------------------------ */
         .subscribe{
          width: 80%;
        }
        .sub{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .subscribe input{
          padding: 16px 54px;
        }
        .subscribe input[placeholder]{
          font-size: 16px;
          line-height: 3px;
        }
        .subscribe button{
          padding: 16px 56px;
          background-color: var(--light-sec-color);
          color: var(--white);
          border-radius: 4px;
          font-size: 16px;
          margin: 8px;
        }

/* -------------------------------------footer section------------------- */
        .footer-text{
          display: block;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }       
        .footer .copywright{
          flex-direction: column;
          justify-content: center;
          margin: 16px;          
        }
/* -----------------------------about page----------------------- */
        .about-hero{
          font-size: 1.5rem;    
        }
        .about-text{
          margin: 4px;
          margin-top: 3rem;
        }
        .abt-row{
          justify-content: center;
          text-align: center;
        }
        .about-row{
          flex-flow: column-reverse;
          justify-content: center;
          text-align: center;
        }
        .about-section img{
          width: 320px;
        }
        .about-section hr{
          margin-left: 4rem;
        }
        .about-section{
          margin: 8px;
        }
/* ----------------------------Donate--------------------- */
        .donor::after{
          display: none;
        }
        .donors{
          text-align: center;
        }
        .donor{
          margin-top: 1.2rem;
          z-index: 0;
        }
        .donor-col{
          margin: 4px;
        }
        .donor img{
          width: 340px;
        }
        .donors h2{
          font-size: 1.8rem;
        }
        .donors p{
          font-size: 1.6rem;
        }
        .donation-form{
          margin: 2rem 8px;
        }
        .donation{
          width: 94%;
          font-size: 1.2rem;
        }
        .popup{
          display: block;
          width: 90%;
          height: 80%;
          position: fixed;
          bottom: 0;
          top: 12%;
          z-index: 32;
          border: 3px solid #f1f1f1;  
          background-color: #FDFDFD;
          padding: 1rem;
          box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
          transform: scale(1.02);
          transition: 0.5s ease-in-out;
         }
        .popup-container{
          padding: 0 1rem;
          margin: 32px 0;
          background: url('./pages/images/ellipse.png');
          background-repeat: repeat-y;
          background-position: center;
          background-size: cover;
        }
        .popup-container::after{
          display: none;
          content: '';
          position: absolute;
          padding: 7rem 2rem;
          right: 0;
          top: 0;
          height: 20%;
          background-color: #FDFDFD;
          background: url('./pages/images/ellipse.png');
          background-repeat: repeat-y;
          background-position: left;
           margin: 8px;
        }
        .btn{
         margin: 8px;
         font-size: 1.1rem;
         padding: 8px 64px;
        color: #FDFDFD;                                
        }
        .btn-close{
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 16px;
        margin: 4px;
        background-color: var(--light-sec-color);
        color: #FDFDFD;
        border-radius: 2px;
        }
/* -----------------------Gadget listing page----------------------------------- */
                .gadgets-sec{
                  margin: 3rem 0;
                }
                .card{
                padding:  1.4rem 8px;
                margin: 8px;
                background-color: var(--bg);
                max-width: 340px;
                box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
                margin: 1.4rem;
                }
                .card img{
                  width: 330px;
                }
                .gadgets-row{
                  display: flex;
                  justify-content: center;
                  flex-flow: row wrap
                }
                .filter-btns{
                  margin: 8px;
                  display: block;
                }
                .filter-btn{
                  padding: 1rem 3rem;
                  margin-left: 0;
                }

/* --------------------------------receiver section------------------- */
      .ReceiverBannerText{
        left: 0;
        font-size: 1.8rem;
        }
        .Receiver-hero-sec{
          width: 100%;
        }
        .ReceiveForm{
          max-width: 340px;
        }
        .ReceiveInput input, textarea{
          padding: 1.3rem;
        }
        .Receivebtn{
         transform: translate(-50%, 0%);
        }
        .receiverCta button{
          margin: 2.4rem;
          padding: 1.6rem 8rem;
          border-radius: 0.8rem;
        }

/* -------------------------Contact page------------------------- */
       .contact-hero{
        margin-top: 1rem;
       }
       .contact-hero p{
        font-size: 3.4rem;
        bottom: 20%;
       }
        .contact-form{
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
        .contact-spacing{
          margin: 0 auto;
        }
        .contactformsec{
          flex-direction: column;
          margin: 8px;
        }
        .contactform .button{
          padding: 1.6rem 8.8rem;
        }         
         .contact-body h4{
          font-size: 2rem;
        }
        .contact-form-horizon{
          width: 94%;
          margin: 1rem;
        }
        .contactformsec img{
          width: 350px;
          text-align: center;
        }
        .ContactInput input{
          padding: 1.6rem 6.4rem;
          width: 80%;
        }
        .contact-img {
          margin-top: 0;
        }
        .contact-textarea textarea{
          padding: 1.6rem 5.4rem;
        }

/*-----------------------signup and login pages------------------------- */
        .sign-login{
          margin: 1rem 2px;
        }
        .signup-row{
          flex-direction: column;
        }
        .login-form{
          margin: 0 4px;
        }
         } 

  /* ---------------------------media query for bigger mobiles  -------------------------------------*/
  /* ------------------------------Media queries for next screens---------------------------- */
      @media screen and (min-width: 397px) and (max-width: 480px) {        
        .navbar{
          justify-content: space-between;
        }
        .nav-list{
            display: none;
            position: absolute;           
            top: 8%;   
            width: 88%;
            background-color: var(--light-sec-color);
            /* overflow: hidden; */
            transition: all 0.2s ease-in;
            z-index: 1;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin: 8px 4px;
            padding: 8px 8px 8px 48px;
          
         }  
         .nav-list.active{
            display: block;
         }

        .navbar ul li{
           display: block;
           margin: 16px 0;
           padding: 4px;
        }
        .navbar ul li a{
          color: #FDFDFD;
        }
        .icon{
            display: block;
            width: 96px;
        }
        .navSearch{
          display: block;
          width: 2.4rem;
        }

        /* ----------------------hero section---------------------- */
        .hero-sec{
          height: 100vh;
        }
        .hero-sec .row{
          justify-content: center;
          text-align: center;
        }
        .heroimg{
          width: 400px;
        }
        .col1 h1, .donors h1{
          font-size: 1.6rem;
        }
        .cta-text{
          margin: 2rem;
        }
        .hero-sec{
          background: linear-gradient( to right, #f2fff4  0 100%, rgba(0, 0, 0, 0.2) ), url('./pages/images/heroimg2.jpg');
          background-position: center;
          background-size: cover;
          height: 100vh;
          margin: 0rem 0 4rem 0;
        }
        .hero-sec .row{
          justify-content: center;
          text-align: center;
        }
        .heroimg{
          width: 300px;
        }
        .col1 h1, .donors h1{
          font-size: 1.6rem;
        }
        .cta-text{
          margin: 2rem;
        }
        .col1{
          margin-top: 1rem;
          position: absolute;
          color: #FDFDFD;
          left: 0;
          bottom: 24%;
        }
           .heroimg{
                  width: 340px;
                }
            .col1 h1, .donors h1{
                  font-size: 1.6rem;
                }
            .cta-text{
                  margin: 2rem;
                }
        /* ------------------device section------------------- */
        .dev-section{
          margin: 5.6rem 0;
          text-align: center;
        }
        .device-img{
          width: 340px;
        }
        /* --------------------mech-section------------------ */
        .col{
          flex-basis: 100%;
          min-width: 320px
        }
        /* -----------------------apply as a recipient------------- */
        .apply-text{
          left: 0;
          margin-top: 6rem;
        }
        .apply-text p{
          font-size: 1.4rem;
         }
         .apply-text h3{
          font-size: 2.4rem;
         }
         .apply-text a{
          background-color: var(--dark-sec-color);
          color: #FDFDFD;
          padding: 4px;
         }
         /* ------------------------subscribe section-------------- */
         .subscribe{
          width: 80%;
        }
        .sub{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .subscribe input{
          padding: 16px 54px;
        }
        .subscribe input[placeholder]{
          font-size: 16px;
          line-height: 3px;
        }
        .subscribe button{
          padding: 16px 56px;
          background-color: var(--light-sec-color);
          color: var(--white);
          border-radius: 4px;
          font-size: 16px;
          margin: 8px;
        }

        /* -------------------------------------footer section------------------- */
        .footer-text{
          display: block;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }          

        .footer .copywright{
          flex-direction: column;
          justify-content: center;
          margin: 16px;          
        }
         /* ---------------about page----------------------- */
         .about-hero{
          font-size: 1.6rem;
        }
         .abt-row{
          justify-content: center;
          text-align: center;
        }
        .about-row{
          flex-flow: column-reverse;
          justify-content: center;
          text-align: center;
        }
        .about-section img{
          width: 396px;
        }
        .about-section hr{
          margin-left: 4rem;
        }    
/* ----------------------------------------------------Donate--------------------- */
              .donor::after{
                  display: none;
                }
                .donors{
                  text-align: center;
                }
                .donor{
                  margin-top: 1.2rem;
                  z-index: 0;
                }
                .donor img{
                  width: 380px;
                }
                .donation{
                  width: 90%;
                  font-size: 1.2rem;
                }
                .popup{
                  display: none;
                  width: 90%;
                  height: 80%;
                  position: fixed;
                  bottom: 0;
                  top: 12%;
                  z-index: 32;
                  border: 3px solid #f1f1f1;  
                  background-color: #FDFDFD;
                  padding: 12px;
                  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
                  transform: scale(1.02);
                  transition: 0.5s ease-in-out;
                  font-size: 1.2rem;
                 }
                
                .popup-container{
                  padding: 0 1rem;
                  margin: 32px 0;
                  background: url('./pages/images/ellipse.png');
                  background-repeat: repeat-y;
                  background-position: center;
                  background-size: cover;
        
                }
                .popup-container::after{
                  display: none;
                  content: '';
                  position: absolute;
                  padding: 7rem 2rem;
                  right: 0;
                  top: 0;
                  height: 20%;
                  background-color: #FDFDFD;
                  background: url('./pages/images/ellipse.png');
                  background-repeat: repeat-y;
                  background-position: left;
                   margin: 8px;
                }
                .btn{
                 margin: 8px;
                 font-size: 1.3rem;
                 padding: 16px 4.8rem;
                color: #FDFDFD;                                
                }
                .btn-close{
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px 16px;
                margin: 4px;
                background-color: var(--light-sec-color);
                color: #FDFDFD;
                border-radius: 2px;
                }
                   /* -----------------------Gadget listing page----------------------------------- */
                   .gadgets-sec{
                    margin: 3rem 0;
                  }
                  .card{
                  padding:  1.4rem 8px;
                  margin: 8px;
                  background-color: var(--bg);
                  max-width: 380px;
                  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
                  margin: 1.4rem;
                  }
                  .card img{
                    width: 380px;
                  }
                  .gadgets-row{
                    display: flex;
                    justify-content: center;
                    flex-flow: row wrap
                  }
                  .filter-btns{
                    margin: 8px;
                    display: block;
                  }
                  .filter-btn{
                    padding: 1rem 3rem;
                    margin-left: 0;
                  }              
/* --------------------------------receiver section------------------------------------------- */
              .ReceiverBannerText{
                left: 0;
                font-size: 1.8rem;
                }
                .Receiver-hero-sec{
                  width: 100%;
                }
                .ReceiveForm{
                  max-width: 340px;
                }
                .ReceiveInput input, textarea{
                  padding: 1.3rem;
                }
                .Receivebtn{
                 transform: translate(-50%, 0%);
                }
                .receiverCta button{
                  margin: 2.4rem;
                  padding: 1.6rem 8rem;
                  border-radius: 0.8rem;
                }
 /* -------------------------Contact page------------------------- */
       .contact-hero{
        margin-top: 1rem;
       }
       .contact{
        margin: 0 auto;
        width: 97%;
       }
       .contact-hero p{
        bottom: 20%;
       }
        .contact-form{
          text-align: center;
          width: 94%;
        }
        .contact-spacing{
          margin: 0;
        }
        .contactformsec{
          flex-direction: column;
          margin: 8px;
         }
        .contactformsec img{
          width: 400px;
          text-align: center;
        }
        .contactform .button{
          padding: 1.6rem 10rem;
        }         
         .contact-body h4{
          font-size: 2rem;
        }
        .contact-form-horizon{
          width: 96%;
          margin: 1rem;
        }
        .contact-img {
          margin-top: 0;
        }
        .ContactInput input{
          padding: 1.6rem 7.2rem;
          width: 80%;
        }
        .contact-textarea textarea{
          padding: 1.6rem 6rem;
        } 
/* --------------------------------signup and login pages------------------------- */
                .sign-login{
                  margin: 1rem 2px;
                }
                .signup-row{
                  flex-direction: column;
                }
                .login-form{
                  margin: 0 4px;
                }
         } 

/* --------------------------------media queries for tablets and ipads------------------------------ */

 /* ------------------------------Media queries for tabs screens---------------------------- */
              @media screen and (min-width: 486px) and (max-width: 820px) {
                .navbar{
                  justify-content: space-between;
                }
        
                .nav-list{
                    display: none;
                    position: absolute;           
                    top: 8%;   
                    width: 88%;
                    background-color: var(--light-sec-color);
                    /* overflow: hidden; */
                    transition: all 0.2s ease-in;
                    z-index: 1;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    margin: 8px 4px;
                    padding: 8px 8px 8px 48px;                  
                 }  
                 .nav-list.active{
                    display: block;
                 }        
                .navbar ul li{
                   display: block;
                   margin: 16px 0;
                   padding: 4px;
                }
                .navbar ul li a{
                  color: #FDFDFD;
                }
                .icon{
                    display: block;
                    width: 96px;
                }
                .navSearch{
                  display: block;
                  width: 2.4rem;
                }
        
/* ----------------------hero section------------------------------------ */
                .hero-sec{
                  height: 100vh;
                }
                .hero-sec .row{
                  justify-content: center;
                  text-align: center;
                }
                .heroimg{
                  width: 640px;
                }
                .col1 h1, .donors h1{
                  font-size: 1.6rem;
                }
                .cta-text{
                  margin: 2rem;
                }

/* ------------------device section------------------- */
                .dev-section{
                  margin: 5.6rem 0;
                  text-align: center;
                }
                .device-img{
                  width: 340px;
                }
        
                /* --------------------mech-section------------------ */
                .col{
                  flex-basis: 100%;
                  min-width: 320px
                }
                /* -----------------------apply as a recipient------------- */
                .apply-text{
                  left: 0;
                  margin-top: 6rem;
                }
                .apply-text p{
                  font-size: 1.4rem;
                 }
                 .apply-text h3{
                  font-size: 2.4rem;
                 }
                 .apply-text a{
                  background-color: var(--dark-sec-color);
                  color: #FDFDFD;
                  padding: 4px;
                 }
                 /* ------------------------subscribe section-------------- */
                 .subscribe{
                  width: 80%;
                }
                .sub{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                }
                .subscribe input{
                  padding: 16px 54px;
                }
                .subscribe input[placeholder]{
                  font-size: 16px;
                  line-height: 3px;
                }
                .subscribe button{
                  padding: 16px 56px;
                  background-color: var(--light-sec-color);
                  color: var(--white);
                  border-radius: 4px;
                  font-size: 16px;
                  margin: 8px;
                }
        
                /* -------------------------------------footer section------------------- */
                .footer-text{
                  display: block;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                }          
        
                .footer .copywright{
                  flex-direction: column;
                  justify-content: center;
                  margin: 16px;          
                }
                 /* ---------------about page----------------------- */
                 .about-hero{
                  font-size: 1.6rem;
                }
                 .abt-row{
                  justify-content: center;
                  text-align: center;
                }
                .about-row{
                  flex-flow: column-reverse;
                  justify-content: center;
                  text-align: center;
                }
                .about-section img{
                  width: 396px;
                }
                .about-section hr{
                  margin-left: 4rem;
                }    
/* ----------------------------Donate-------------------------------------------- */
                  .donor::after{
                     display: none;
                        }
                   .donors{
                      text-align: center;
                        }
                    .donor{
                       margin-top: 1.2rem;
                       z-index: 0;
                        }
                    .donor img{
                          width: 640px;
                        }
                        .donation{
                          width: 90%;
                        }
                       .popup{
                  display: none;
                  width: 90%;
                  height: 80%;
                  position: fixed;
                  bottom: 0;
                  top: 12%;
                  z-index: 32;
                  border: 3px solid #f1f1f1;  
                  background-color: #FDFDFD;
                  padding: 12px;
                  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
                  transform: scale(1.02);
                  transition: 0.5s ease-in-out;
                  font-size: 1.2rem;
                 }
                
                .popup-container{
                  padding: 0 1rem;
                  margin: 32px 0;
                  background: url('./pages/images/ellipse.png');
                  background-repeat: repeat-y;
                  background-position: center;
                  background-size: cover;
        
                }
                .popup-container::after{
                  display: none;
                  content: '';
                  position: absolute;
                  padding: 7rem 2rem;
                  right: 0;
                  top: 0;
                  height: 20%;
                  background-color: #FDFDFD;
                  background: url('./pages/images/ellipse.png');
                  background-repeat: repeat-y;
                  background-position: left;
                   margin: 8px;
                }
                .btn{
                 margin: 8px;
                 font-size: 1.3rem;
                 padding: 16px 4.8rem;
                color: #FDFDFD;                                
                }
                .btn-close{
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px 16px;
                margin: 4px;
                background-color: var(--light-sec-color);
                color: #FDFDFD;
                border-radius: 2px;
                }
/* -----------------------Gadget listing page----------------------------------- */
                .gadgets-sec{
                  margin: 3rem 0;
                }
                .card{
                padding:  1.4rem 8px;
                margin: 8px;
                background-color: var(--bg);
                min-width: 320px;
                max-width: 400px;
                box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
                margin: 1.4rem;
                }
                .card img{
                  width: 320px;
                }
                .gadgets-row{
                  display: flex;
                  justify-content: center;
                  flex-flow: row wrap
                }
                .filter-btns{
                  margin: 8px;
                }
                             
/* --------------------------------receiver section------------------- */
                      .ReceiverBannerText{
                        left: 0;
                        font-size: 1.8rem;
                        }
                        .Receiver-hero-sec{
                          width: 100%;
                        }
                        .ReceiveForm{
                          max-width: 340px;
                        }
                        .ReceiveInput input, textarea{
                          padding: 1.3rem;
                        }
                        .Receivebtn{
                         transform: translate(-50%, 0%);
                        }
                        .receiverCta button{
                          margin: 2.4rem;
                          padding: 1.6rem 8rem;
                          border-radius: 0.8rem;
                        }

 /* -------------------------Contact page------------------------- */
               .contact-hero{
                margin-top: 1rem;
               }
               .contact-hero p{
                bottom: 20%;
               }
               .contact{
                width: 90%;
                margin: 0 auto;
               }
                .contact-form{
                  width: 96%;
                  text-align: center
                }
                .contact-spacing{
                  margin: 0;
                }
                .contactformsec{
                  flex-direction: column;
                  margin: 8px;
                }
                .contactformsec img{
                  width: 640px;
                }
                .contact-img {
                  margin-top: 0;
                }
                .ContactInput input{
                  padding: 1.6rem 10rem;
                  width: 100%;
                }
                .contact-textarea textarea{
                  padding: 1.6rem 10rem;
                } 
                .contactform .button{
                  padding: 1.6rem 18.6rem;
                }         
                 .contact-body h4{
                  font-size: 2rem;
                }
                .contact-form-horizon{
                  width: 98%;
                  margin: 1rem;
                }
/* ---------------------------------------------signup and login pages------------------------- */
                  .sign-login{
                          margin: 1rem 2px;
                  }
                  .signup-row{
                          flex-direction: column;
                        }
                   .login-form{
                          margin: 0 4px;
                        }
                 } 