:root{
  --light-sec-color: #2a7e3a;
  --dark-sec-color: #11431b;
  --white: white;
  --font : 
  
}
body{
box-sizing: border-box;  
margin: 0px; 
padding: 0px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
scroll-behavior: smooth;
overflow-x: hidden;
/* background-color: #f2fff4; */

}


/* --------------------------------Landing Page Section--------------------------- */

/* ------------------------------------------Navbar section------------------------------------ */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.navbar ul li{
 list-style-type: none;
 display: inline-block;
 margin: 0 32px;
}
.navbar ul li a{
 text-decoration: none;
 text-transform: uppercase;
 color: var(--dark-sec-color);
}
.navbar ul li a:hover{
 text-decoration:underline
}
.icon{
  display: none;
}

/* ----------------------------------hero section----------------------------- */
.hero-sec{
  /* background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ); */
  background-color: #f2fff4;
  height: 100vh;
  margin-bottom: 4rem;
}
.hero-sec .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center; 
}
.col1{
  min-width: 320px;
  margin-top: 80px;
}

.hero-sec p, .donors p{
  font-size: 1.2rem;
  text-transform: capitalize;
}

/* .hero-sec img{
display: flex;
margin: 0 auto;
} */
/* .top-text{
  position: absolute;
  top: 10.1%;
  color: var(--light-sec-color);
  width: 30%;
  background-color: var(--white);
  text-transform: uppercase;
}
.bottom-text{
  position: absolute;
  right: 8px;
  bottom: 18%;
  font-size: larger;
  text-transform: uppercase;
  background-color: var(--white);
  width: 30%;
} */
.cta-text{
  text-align: center;
  margin: 4rem;
  text-transform: uppercase;

}
 .cta-text span{
  color: var(--light-sec-color);

} 

.button{
  background-color: var(--light-sec-color);
  color: var(--white);
  margin: 4px;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
}
.button:hover{
  opacity: 0.7;
  scale: 0.90;
  transition: 0.2s ease-in-out;
}

/* ----------------------device section---------------- */
.dev-section{
  margin: 6.4rem 1rem;
  }

  .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; 
}
.dev-section .row{  
  border-left: 4px solid var(--light-sec-color); 
}
.button{
  background-color: var(--light-sec-color);
  color: var(--white);
  margin: 4px;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
}
/* ---------------mechanism section--------------- */
.mech-section{
  text-align: center;
  padding: 3rem;
  background-color: #f2fff4;

}
.mech-section .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.col{
  flex-basis: 16%;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.06);
  margin: 8px;
  padding: 16px;
  border: 1px solid var(--dark-sec-color);
}
.icons{
  display: flex ;
  align-items: center;
  justify-content: center;
}


/* -----------------------------------------Apply as a recipient here---------------------------------- */
.signup{
  margin: 3rem 0;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url('./pages/images/img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh ;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}
/* -----------------Subscribe Section------------------- */
.subs{    
  padding: 16px;    
  width: 48%;
  margin: 3rem auto;

}

.subs input{
  padding: 12px 64px;
}

.subs input[placeholder]{
  font-size: 14px;
  line-height: 3px;
}

.subs button{
  padding: 12px 24px;
  background-color: var(--light-sec-color);
  color: var(--white);
  border: none;
}


/* ----------------------Footer section---------------- */
.footer{
  background-color: var(--dark-sec-color);    
  color: #fff;
  text-align: center;
  margin: 0;
}
.show{
  display: none;
}
.footer-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer ul li{
  list-style: none;
  margin: 16px
}

/* ---------------------donate page------------------------------- */
.donors{
  padding: 5rem 0;
  background-color: #f2fff4;

}
.donor{
   z-index: 1;
}
.donor::after{
content: '';
position: absolute;
width: 30%;
padding: 13px;
height: 60%;
right: 4%;
margin-top: 2rem;
background-color: var(--light-sec-color);
z-index: -1;
}

.donation{
  text-align: center;
  width: 64%;
  margin: 64px auto;
}
.donation form{
  text-align: left;
  display: grid;
  gap: 16px;
  margin: 2rem;
}
input, textarea{
  padding: 16px;
}